.sliderpanel{  
   
    background-color: $white; 
    max-width: 540px;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    min-height: 360px;
    border-radius: 10px;

    width: auto;
    height: auto;
    background-color: $white;
    overflow:auto;

    box-shadow: 0px 5px 18px 6px $lightGrayishBlue;
    
    hr{
      width: auto;
      text-align: left;
      margin-left: -48px;
      margin-right: -48px;
      border-style: inset;
      border-width: 1px;
      padding: 0;
      border: none;
      height: 1px;
      background-color: $lightGrayishBlue;
  }
}

.slider-container{
    width:100%;
}

.slider{
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px;
  border-radius: 5px;   
  background: linear-gradient(90deg, $softCyan 30%, $lightGrayishBlue); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.75; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    cursor: pointer;
}

.slider:active {
    opacity: 1;
    cursor: grab;
}

  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $strongCyan;
    box-shadow: 0px 10px 10px $softCyan;
    background-image: url('/images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }

  
  
  